<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="tenant" value="consolidatededison.onmicrosoft.com" />
    <add key="aadInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="nativeAppId" value="450d733f-eb96-4502-8ee2-58fdd1a65943" />
    <add key="redirectURI" value="https://jsse-dev.azurewebsites.net/.auth/login/done" />
    <add key="webApiAppIdUri" value="https://jsse-dev.azurewebsites.net/" />
    <add key="serviceBaseAddress" value="https://jsse-dev.azurewebsites.net/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>